<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Current event</title>
    </head>

    <body>
        <h1>Event signup</h1>
        <div style='float: right;'><a th:href="@{/manage}">Manage</a></div>
        <br>
        </br>
        <table>
            <thead>
                <tr>
                    <th>Event name</th>
                    <th>Event description</th>
                    <th>Link to event</th>
                </tr>
            </thead>

            <tr th:each="event : ${events}">
                <td th:text="${event.name}">Event name</td>
                <td th:text="${event.description}">Event description</td>
                <td> <a th:text="Linkevent" th:href="${event.urltoevent}">Link to event</a> </td>                
                <td> <a th:text="Signup" th:href="@{/form/(id=${event.id})}">Sign up</a> </td>
            </tr>
        </table>
    </body>
</html>
