<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Events</title>
    </head>

    <body>
        <h1>Events management</h1>

        <table>
            <thead>
                <tr>
                    <th>Event name</th>
                    <th>Event description</th>
                    <th>Link to event</th>
                </tr>
            </thead>

            <tr th:each="event : ${events}">
                <td th:text="${event.name}">Event name</td>
                <td th:text="${event.description}">Event description</td>
                <td> <a th:text="Linkevent" th:href="${event.urltoevent}">Link to event</a> </td>
                <td> <a th:text="Participants" th:href="@{/manage/participants(id=${event.id})}">Participants</a> </td>
                <td> <a th:text="Cancel" th:href="@{/manage/cancel(id=${event.id})}">Cancel</a> </td>
            </tr>
        </table>


        <h2>Add an even</h2>


        <form th:action="@{/manage}" method="POST">
            <span>Event name</span><br/>
            <input type="text" name="name"/><br/>
            <span>Event description:</span><br/>
            <input type="text" name="description"/><br/>
            <span>Link to event:</span><br/>
            <input type="text" name="urltoevent"/><br/>

            <input type="submit" value="Add!"/>
        </form>
    </body>
</html>
