<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List of participants</title>
    </head>

    <body>
        <h1>List of participants</h1>
        <table>
            <thead>
                <tr>
                    <th>Participant name</th>
                    <th>Email address</th>
                </tr>
            </thead>

            <tr th:each="signup : ${signups}">
                <td th:text="${signup.name}">Participant name</td>
                <td th:text="${signup.address}">Email address</td>
            </tr>
        </table>
    </body>
</html>
